/* sliders */

.slider {
  margin: 0 auto;
  width: calc(1170/1440*100vw);
  margin-bottom: 40px;
}

.slide-wrapper {
  display: flex;
  flex-basis: 32.5%;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #D4D5D9;
}

.slide-wrapper:not(:last-child) {
  margin-right: 30px;
}

.slide__img {
  margin-bottom: 28px;
  width: 100%;
}

.slide__heading,
.slide__content {
  padding: 0 40px;
}

.slide__content {
  display: flex;
  align-self: flex-start;
  margin-bottom: 22px;
}

.slide__heading,
.slide__price {
  font-family: 'Roboto bold';
  font-size: 20px;
  line-height: 23px;
}

.slide__heading {
  margin-bottom: 13px;
}

.slide__content {
  line-height: 19px;
}

.slide__price-button {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin-bottom: 27px;
}

.slide__price {
  margin-bottom: 30px;
  color:  var(--dark-orange);
}

.slide__btn {
  align-self: center;
  text-align: center;
  padding: 14px 36.5%;
  border: 3px solid var(--dark-orange);
  font-size: 18px;
  color: var(--dark-orange);
  background: transparent;
}

.slick-track{
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  z-index: 10;
  font-size: 0;
  outline: none;
  background-color: transparent;
  border: none;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.seller__slider .slick-arrow {
  top: 42%;
}

.slick-arrow.slick-prev {
  content: '';
  left: 55px;
  background: url('../img/slider-nav.svg') center center no-repeat;
  background-size: contain;
}

.slick-arrow.slick-next {
  content: '';
  right: 55px;
  background: url('../img/slider-nav.svg') center center no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.service__slider .slick-arrow.slick-next {
  right: -80px;
}

.service__slider .slick-arrow.slick-prev {
  left: -80px;
}

.sert__slider .slick-arrow.slick-next {
  right: -80px;
}

.sert__slider .slick-arrow.slick-prev {
  left: -80px;
}

.slick-arrow:hover {
  cursor: pointer;
  opacity: 0.8;
}

.slick-arrow:active {
  opacity: 0.8;
}

/* service slider */
.service__slider {
  position: relative;
  margin-bottom: 0;
}

.service__slide-wrapper {
  display: flex;
  flex-basis: 32.5%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dark-orange);
}

.service__slide-wrapper:not(:last-child) {
  margin-right: 30px;
}

.service__slide-img-heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.service__slide-img {
  margin-bottom: 31px;
}

.service__slide-heading {
  padding: 0 40px;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

.service__slide-content {
  padding: 0 40px;
  margin-bottom: 35px;
  color: #fff;
}

/* sertificate slider */

.sert__slider {
  position: relative;
}

.sert__slide-wrapper {
  display: flex;
  flex-basis: 32.5%;
  flex-direction: column;
  align-items: center;
}

.sert__slide-wrapper:not(:last-child) {
  margin-right: 30px;
}

.sert__slide-img {
  margin-bottom: 30px;
}

.sert__slide-heading {
  margin-bottom: 16px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 19px;
}

.sert__slide-content {
  text-align: center;
  padding: 0 5px;
}

/* testimaonial slider */
.testimonial__slide-wrapper {
  display: flex;
  flex-basis: 32.5%;
  flex-direction: column;
  align-items: center;
}

.testimonial__slide-wrapper:not(:last-child) {
  margin-right: 30px;
}
