@font-face {
  font-family: 'Roboto regular';
  src: url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/roboto-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto black';
  src: url('../fonts/roboto-black-webfont.woff') format('woff'),
  url('../fonts/roboto-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto bold';
  src: url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/roboto-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto medium';
  src: url('../fonts/roboto-medium-webfont.woff') format('woff'),
  url('../fonts/roboto-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair display';
  src: url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

:root {
  --dark-orange: #A84002;
  --light-pink-color: #fff5EF;
  --text-color: #382A2A;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
/*   overflow-x: hidden; */
  font-family: 'Roboto regular';
  font-size: 16px;
  color: var(--text-color);
}

h1, h2 {
  margin: 0;
  font-family: 'Playfair display';
}

h3 {
  margin: 0;
  font-family: 'Roboto bold';
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  border: none;
  background-color: var(--dark-orange);
  font-family: 'Roboto black';
  font-size: 16px;
  color: var(--white-color);
  outline: none;
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  opacity: .5;
}

.btn:active {
  opacity: .5;
  transform: scaleX(0.98);
}

.section__heading {
  position: relative;
  display: inline-block;
  padding-left: 135px;
  padding-bottom: 23px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 43px;
}

.section__heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--dark-orange);
}

.nav__container {
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: calc(1171/1440*100vw);
}

.nav__container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, .4);
}

.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 32px;
}

.nav-link {
  font-size: 16px;
  transition: opacity .3s ease-in-out;
}

.nav-link:hover {
  opacity: .7;
}

.tel-and-address {
  display: flex;
}

.adress-wrap {
  display: flex;
  margin-right: 30px;
}

.geo-icon {
  margin-right: 13px;
  width: 11px;
  height: 16px;
}

.address {
  font-family: 'Roboto regular';
  font-style: normal;
}

.tel-wrap {
  display: flex;
  transition: opacity .3s ease-in-out;
}

.tel-icon {
  margin-right: 13px;
  width: 16px;
  height: 16px;
}

.tel:hover {
  opacity: 0.7;
}

/* header */
.header {
  position: relative;
  background: transparent;
  z-index: 2;
}

.burger {
  display: none;
  transition: opcity .3s ease-in-out;
}

.burger:hover {
  opacity: 0.5;
}

.burger-icon {
  width: 30px;
  height: 23px;
  position: relative;
  z-index: 4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.burger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--white-color);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/*  .burger-icon:hover span {
  background: var(--hover-color);
}

.burger-icon:active span {
  background: var(--active-color);
}

.burger-icon:focus span {
  background: var(--active-color);
}  */

.burger-icon span:nth-child(1) {
  top: 0px;
}

.burger-icon span:nth-child(2),
.burger-icon span:nth-child(3) {
  top: 10px;
}

.burger-icon.open span:nth-child(2),
.burger-icon.open span:nth-child(3) {
  background: var(--hover-color);
}

.burger-icon span:nth-child(4) {
  top: 20px;
}

.burger-icon.open span:nth-child(1) {
  top: 13px;
  width: 0%;
  left: 50%;
}

.burger-icon.open span:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.burger-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.burger-icon.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.burger__hidden-nav {
  display: none;
}

.header__nav-link,
.header__address,
.header__tel {
  color: var(--white-color);
}

.header__geo-icon,
.header__tel-icon {
  fill: var(--white-color);
}

/* hero */
.hero {
  position: relative;
  top: -77px;
  background: url('../img/banner.jpg') top, center, no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-top: 311px;
  width: calc(1171/1440*100%);
  color: var(--white-color);
}

.hero__heading {
  margin-bottom: 32px;
  max-width: 570px;
  font-size: 40px;
  line-height: 53px;
}

.hero__content {
  margin-bottom: 46px;
  max-width: 437px;
  line-height: 18.75px;
}

.hero__btn {
  margin-bottom: 235px;
  padding: 16px 20px 17px 20px;
  font-family: 'Roboto bold';
  font-size: 18px;
}

/* about */
.container {
  margin: 0 auto;
  max-width: 1440px;
}

.about__container {
  position: relative;
  padding-top: 140px;
  margin-left: calc(135/1440*100vw);
  max-width: 1070px;
  background: var(--light-pink-color);
}

.about__container::before {
  content: '';
  position: absolute;
  top: -3%;
  left: -8%;
  width: calc(257/1070*100%);
  height: calc(85/1070*100%);
  background: url('../img/cloud.svg') center center no-repeat;
  background-size: contain;
}

.about__container::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -2.7%;
  width: calc(273/1070*100%);
  height: calc(244/1070*100%);
  background: url('../img/city.svg') center center no-repeat;
  background-size: contain;
}

.about__inner-container {
  position: relative;
  left: calc(100/1070*100%);
  display: flex;
}

.about__text-content {
  display: flex;
  flex-direction: column;
  flex-basis: calc(470/1070*100%);
  margin-right: 30px;
}

.about__heading {
  padding-left: 0;
  margin-bottom: 20px;
}

.about__heading::after {
  bottom: 0;
  left: -50%;
  width: 123%;
}

.about__content {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 23px;
}

.about__choice {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.choice__buy,
.choice__sell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choice__buy {
  margin-right: 10px;
}

.choice__buy-content {
  margin-bottom: 59px;
  max-width: 187px;
  line-height: calc(24.65/16*100%);
}

.choice__buy-btn {
  padding: 16px 34px 15px 34px;
}

.choice__buy-btn,
.choice__sell-btn {
  font-family: 'Roboto bold';
}

.choice__sell-content {
  margin-bottom: 35px;
  max-width: 240px;
  line-height: calc(24.65/16*100%);
}

.choice__sell-btn {
  padding: 16px 25px 15px 25px;
}

.about__img-wrapper {
  position: relative;
  margin-bottom: 140px;
  flex-basis: calc(570/1070*100%);
  min-height: 549px;
  background: url('../img/aboutimg.jpg') center center no-repeat;
  background-size: cover;
}

 .about {
   margin-bottom: 135px;
 }

 /* buyer*/
.buy {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 140px;
}

.buy__btn {
  align-self: center;
  padding: 19px 31px 19px 32px;
  font-size: 18px;
}

.sell__btn {
  margin-bottom: 146px;
}

/* sliders */

.slider {
  margin: 0 auto;
  width: calc(1170/1440*100vw);
  margin-bottom: 40px;
}

.slide-wrapper {
  display: flex;
  flex-basis: 32.5%;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #D4D5D9;
}

.slide-wrapper:not(:last-child) {
  margin-right: 30px;
}

.slide__img {
  margin-bottom: 28px;
  width: 100%;
}

.slide__heading,
.slide__content {
  padding: 0 40px;
}

.slide__content {
  display: flex;
  align-self: flex-start;
  margin-bottom: 22px;
}

.slide__heading,
.slide__price {
  font-family: 'Roboto bold';
  font-size: 20px;
  line-height: 23px;
}

.slide__heading {
  margin-bottom: 13px;
}

.slide__content {
  line-height: 19px;
}

.slide__price-button {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin-bottom: 27px;
}

.slide__price {
  margin-bottom: 30px;
  color:  var(--dark-orange);
}

.slide__btn {
  align-self: center;
  text-align: center;
  padding: 14px 36.5%;
  border: 3px solid var(--dark-orange);
  font-size: 18px;
  color: var(--dark-orange);
  background: transparent;
}

.slick-track{
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  z-index: 10;
  font-size: 0;
  outline: none;
  background-color: transparent;
  border: none;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.seller__slider .slick-arrow {
  top: 42%;
}

.slick-arrow.slick-prev {
  content: '';
  left: 4vw;
  background: url('../img/slider-nav.svg') center center no-repeat;
  background-size: contain;
}

.slick-arrow.slick-next {
  content: '';
  right: 4vw;
  background: url('../img/slider-nav.svg') center center no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.slick-arrow:hover {
  cursor: pointer;
  opacity: 0.8;
}

.slick-arrow:active {
  opacity: 0.8;
}

/* seller */
.sell::before {
  content: '';
  position: absolute;
  top: -3.5%;
  right: 3.2%;
  width: calc(257/1920*100vw);
  height: calc(85/1920*100vw);
  background: url('../img/cloud.svg') center center no-repeat;
  background-size: contain;
}

.sell {
  position: relative;
  margin-bottom: 0;
}

.sell::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 9.5%;
  height: calc(157/1920*100vw);
  width: calc(315/1920*100vw);
  background: url('../img/city2.svg') center center no-repeat;
  background-size: contain;
}

/* test */
.test {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
  padding-top: 140px;
  align-items: center;
  color: var(--white-color);
  background-color: var(--dark-orange);
}


.test__heading {
  margin-bottom: 30px;
  padding-left: 0;
  padding-bottom: 0;
  max-width: 535px;
  text-align: center;
}

.test__text {
  position: relative;
  margin-bottom: 31px;
  max-width: 470px;
  text-align: center;
  line-height: 23px;
}

.test::before,
.test::after {
  content: '';
  position: absolute;
  top: 51%;
  height: 3px;
  width: 21.5%;
  background-color: var(--white-color);
}

.test::before {
  left: 0;
}

.test::after {
  right: 0;
}

.test__btn {
  margin-bottom: 139px;
  padding: 19px 83px;
  font-size: 18px;
  color: var(--dark-orange);
  background-color: var(--white-color);
}

/* advantages */
.advantages {
  margin-bottom: 145px;
}

.adv__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  margin: 0 auto;
  width: calc(1200/1440*100vw);
}

.adv__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 31%;
  margin-right: 30px;
}

.adv__item:nth-child(3n) {
  margin-right: 0px;
}

.adv__item:nth-child(-n+3) {
  margin-bottom: 42px;
}

.adv__img {
  margin-bottom: 20px;
}

.adv__heading-card {
  margin-bottom: 16px;
  font-size: 20px;
}

.adv__content {
  text-align: center;
}

/* additional services */
.service {
  margin-bottom: 140px;
}

/* service slider */
.service__slider {
  position: relative;
  margin-bottom: 0;
}

.service__slide-wrapper {
  display: flex;
  flex-basis: 32.5%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dark-orange);
}

.service__slide-wrapper:not(:last-child) {
  margin-right: 30px;
}

.service__slide-img-heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.service__slide-img {
  margin-bottom: 31px;
}

.service__slide-heading {
  padding: 0 40px;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

.service__slide-content {
  padding: 0 40px;
  margin-bottom: 35px;
  color: #fff;
}

.service__slider .slick-arrow.slick-next {
  right: -7%;
}

.service__slider .slick-arrow.slick-prev {
  left: -7%;
}

/* pros and cons */
.pros__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  padding-top: 140px;
  width: calc(970/1440*100vw);
  background-color: var(--light-pink-color);
}

.pros__container::before {
  content: '';
  position: absolute;
  top: -7.5%;
  left: -16%;
  width: calc(257/970*100%);
  height: calc(85/970*100%);
  background: url('../img/cloud.svg') center center no-repeat;
  background-size: contain;
}

.pros__heading {
  padding-left: 0;
  padding-bottom: 20px;
}

.pros__list {
  padding-left: 20px;
  text-align: start;
}

.pros__item {
  display: flex;
  flex-direction: column;
  max-width: 815px;
}

.pros__item-heading {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 140.92%;
}

.cons-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cons__icon {
  margin-right: 13px;
  flex-basis: 25px;
  height: 25px;
  stroke: var(--dark-orange);
}

.pros-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.pros__icon {
  margin-right: 13px;
  flex-basis: 25px;
  height: 25px;
  stroke: var(--dark-orange);
}

.pros-text {
  flex-basis: 769px;
}

.pros__content-regular {
  line-height: 23px;
  color: var(--dark-orange);
}

.pros__content-bold {
  font-family: 'Roboto medium';
  line-height: 23px;
  color: var(--dark-orange)
}

.pros__btn {
  margin-bottom: 140px;
  padding: 19px 62px 19px 61px;
  font-size: 18px;
}

.pros {
  margin-bottom: 140px;
}

/* sertificates */
.sert {
  position: relative;
  margin-bottom: 140px;
}

.sert::before {
  content: '';
  position: absolute;
  bottom: -55%;
  right: 5%;
  width: calc(520/1440*100vw);
  height: calc(300/1440*100vw);
  background: url('../img/country.svg') bottom right no-repeat;
  background-size: contain;
}

/* sertificate slider */

.sert__slider {
  position: relative;
}

.sert__slide-wrapper {
  display: flex;
  flex-basis: 32.5%;
  flex-direction: column;
  align-items: center;
}

.sert__slide-wrapper:not(:last-child) {
  margin-right: 30px;
}

.sert__slide-img {
  margin-bottom: 30px;
  width: 100%;
}

.sert__slide-heading {
  margin-bottom: 16px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 19px;
}

.sert__slide-content {
  text-align: center;
  padding: 0 5px;
}

/* testimonials */
.testimonials {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 143px;
}

.testimonial__heading {
  position: relative;
  align-self: flex-start;
}

.testimonial__btn {
  padding: 19px 62px;
  font-size: 18px;
}

/* testimaonial slider */
.testimonial__slide-wrapper {
  display: flex;
  flex-basis: 32.5%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.testimonial__slide-img {
  width: 100%;
}

.testimonial__slide-wrapper:not(:last-child) {
  margin-right: 30px;
}

.sert__slider .slick-arrow.slick-next {
  right: -7%;
}

.sert__slider .slick-arrow.slick-prev {
  left: -7%;
}

/* callback form */
.call {
  margin-bottom: 140px;
  background-color: var(--dark-orange);
}

.call__wrapper {
  position: relative;
  display: flex;
  padding-top: 139px;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--white-color);
}

.call__wrapper::after {
  content: '';
  position: absolute;
  bottom: 16%;
  left: 21%;
  width: calc(257/1920*100vw);
  height: calc(85/1920*100vw);
  background: url('../img/cloud.svg') center center no-repeat;
  background-size: contain;
}

.call__text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 41.6%;
  padding-left: 135px;
}

.call__heading {
  align-self: flex-start;
  padding-left: 0;
  margin-bottom: 22px;
}

.call__heading::after {
  left: -50%;
  width: 110%;
  background-color: var(--white-color);
}

.call__content {
  line-height: 25px;
  margin-bottom: 25px;
}

.call__content:last-child {
  margin-bottom: 212px;
}

.call__form-content {
  display: flex;
  flex-basis: 48.6%;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 17px;
  padding-right: 230px;
}

.call__form-heading {
  margin-bottom: 20px;
  font-size: 20px;
}

.call__form-descr {
  margin-bottom: 33px;
  line-height: 23px;
}

.call__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input {
  margin-bottom: 20px;
  padding: 20px 30px;
  border: none;
  border-radius: 0;
  outline: none;
}

.form__input::placeholder {
  font-size: 16px;
  color: #AF9F9F;
}

.form__btn {
  padding: 19px;
  font-size: 18px;
  background-color: var(--white-color);
  color: var(--dark-orange);
}

/* quick start */
.start__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 140px;
  width: calc(1170/1440*100vw);
}

.start__item {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  align-items: center;
  margin-right: 33px;
  margin-bottom: 40px;
}

.start__item:nth-child(3n) {
  margin-right: 0;
}

.start__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.start__step {
  margin-bottom: 20px;
  font-family: 'Roboto black';
  font-size: 120px;
  line-height: 141px;
  color: var(--dark-orange);
}

.start__item:nth-child(2) .start__step {
  opacity: .74;
}
.start__item:nth-child(3) .start__step {
  opacity: .55;
}

.start__item:nth-child(4) .start__step {
  opacity: .44;
}

.start__item:nth-child(5) .start__step {
  opacity: .28;
}

.start__item:nth-child(6) .start__step {
  opacity: .2;
}

.start__step-content {
  font-family: 'Roboto bold';
  font-size: 20px;
  text-align: center;
  line-height: 140.92%;
}

.step__btn {
  padding: 18px 22px;
  border: 2px solid var(--dark-orange);
  font-family: 'Roboto bold';
  font-size: 20px;
  color: var(--dark-orange);
  background-color: var(--white-color);
}

/* contract */
.contract__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
  padding-top: 60px;
  background-color: var(--light-pink-color);
}

.contract__text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: calc(705/1440*100%);
  padding-top: 75px;
  margin-right: 30px;
}

.contract__heading {
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.contract__content {
  margin-bottom: 30px;
  padding-left: 135px;
  max-width: 706px;
  line-height: 27px;
}

.contract__img {
  flex-basis: calc(470/1440*100%);
  min-height: 633px;
  margin-right: 135px;
  margin-bottom: 60px;
  background: url('../img/contract.png') center center no-repeat;
  background-size: contain;

}

.contract__btn {
  margin-bottom: 140px;
  margin-left: 135px;
  padding: 19px 98px;
  font-size: 18px;
}

.contract__wrap::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 46%;
  width: calc(234/1440*100vw);
  height: calc(244/1440*100vw);
  background: url('../img/city3.svg') center center no-repeat;
  background-size: contain;
}

/* gift */
.gift {
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
}

.gift__heading {
  margin-bottom: 70px;
  padding-left: 0;
  align-self: center;
}

.gift__wrap {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-orange);
}

.gift__text-content {
  flex-basis: calc(568/1440*100%);
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  padding-top: 60px;
  padding-left: 171px;
  color: var(--white-color);
}

.gift__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 29px;
  font-size: 20px;
  line-height: 140.92%;
}

.gift__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 30%;
  width: 10px;
  height: 10px;
  border-radius: 60px;
  background-color: var(--white-color);
}

.gift__item:last-child {
  margin-bottom: 50px;
}

.gift__item-bold,
.gift__item-bold-percent {
 font-family: 'Roboto bold';
}

.gift__item-bold-percent {
  font-size: 28px;
}

.gift__cond-heading {
  align-self: flex-start;
  margin-bottom: 20px;
  font-family: 'Roboto bold';
  font-size: 20px;
  line-height: 140.92%;
}

.gift__conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift__link {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 20px;
  border-radius: 100px;
  font-family: 'Roboto medium';
  font-size: 14px;
  color: var(--dark-orange);
  background-color: var(--white-color);
}

.gift__link-vk {
  padding: 11px 40px 11px 20px;
}

.gift__icon-vk {
  margin-right: 16px;
  width: 20px;
  height: 12px;
  fill: var(--dark-orange);
}

.gift__link-instagram {
  padding: 8px 80px 8px 20px;
}

.gift__icon-insta {
  margin-right: 34px;
  width: 22px;
  height: 22px;
  fill: var(--dark-orange);
}

.gift__cond-mess {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 35px;
}

.gift__cond-text {
  margin-bottom: 20px;
  font-family: 'Roboto medium';
  text-align: center;
  font-size: 16px;
  line-height: 140.92%;
}

.gift__cond-text:last-child {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 21px;
}

.gift__img {
  flex-basis: calc(736/1440*100%);
  background: url('../img/gift.jpg') center center no-repeat;
  background-size: cover;
}

/* footer */
.footer__nav-link,
.footer__tel {
  color: var(--text-color);
}
.footer__nav-container {
  margin-bottom: 25px;
}

.footer__nav-container::after {
  background-color: #DDDDDD;
}

.footer__geo-icon,
.footer__phone-icon {
  fill: var(--text-color);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  width: calc(1170/1440*100%);
  margin: 0 auto;
  margin-bottom: 24px;
}

.footer__text {
  font-size: 15px;
  line-height: 18px;
  color: #656565;
}

.footer__social-media {
  display: flex;
}

.footer__vk-icon {
  margin-right: 20px;
}

.footer__vk-icon,
.footer__ig-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
  transition: opacity .3s ease-in-out;
}

.footer__vk-icon:hover,
.footer__ig-icon:hover {
  opacity: .5;
}

@media (min-width: 1680px) {
  /* callback form */
  .call__wrapper {
    margin: 0 auto;
    width: calc(1070/1440*100vw);
  }

  .call__wrapper::after {
    bottom: 12%;
    left: 21%;
    width: 10vw;
  }

  /* contract */
  .contract {
    background-color: var(--light-pink-color);
    margin-bottom: 140px;
  }

  .contract__wrap {
    margin: 0 auto;
    width: calc(1170/1920*100vw);
  }

  .contract__wrap::before {
    width: calc(234/1920*100vw);
    height: calc(207/1920*100vw);
  }

  .gift__wrap {
    margin: 0 auto;
    width: calc(1300/1920*100vw);
  }

  .gift__wrap-big {
    background-color: var(--dark-orange);
  }

  .gift__text-content {
    flex-basis: calc(700/1440*100%);
    padding-left: 120px;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* about */
  .about__container {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    margin-left: 0;
  }

  .about__container::before {
    top: -3%;
    left: 0%;
  }

  .about__container::after {
    right: 0;
  }

  .about__inner-container {
    align-items: stretch;
    max-width: 100%;
    left: 0;
  }

  .about__choice {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .choice__buy {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .choice__buy,
  .choice__sell {
    align-items: flex-start;
  }

  .choice__buy-content,
  .choice__sell-content {

    margin-bottom: 15px;
    max-width: unset;
  }

  .about__img-wrapper {
    margin-bottom: 30px;
  }

  /* advantages */
  .adv__list {
    width: 100%;
  }

  /* pros and cons */
  .pros__container {
    padding-top: 40px;
    width: 100%;
  }

  .pros__container::before {
    left: 0;
  }

  /* gift */
  .gift__text-content {
    padding-left: calc(100/1440*100vw);
  }

  .contract__btn {
    padding: 19px 60px;
  }
}

@media (max-width: 1024px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

  /* Header */
  .header__nav-list {
    display: none;
  }

  .burger {
    display: flex;
  }

  /* Hero */
  .hero__container {
    margin-bottom: 0px;
  }

   /* about */
   .about__container {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    margin-left: 0;
  }

  .about__container::before {
    top: -3%;
    left: 0%;
  }

  .about__container::after {
    right: 0;
  }

  .about__inner-container {
    align-items: stretch;
    max-width: 100%;
    left: 0;
  }

  .about__choice {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .choice__buy {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .choice__buy,
  .choice__sell {
    align-items: flex-start;
  }

  .choice__buy-content,
  .choice__sell-content {

    margin-bottom: 15px;
    max-width: unset;
  }

  .about__img-wrapper {
    margin-bottom: 30px;
  }

  .about {
    margin-bottom: 60px;
  }

  /* slider */
  .slider {
    margin: 0 auto;
    width: 90vw;
    margin-bottom: 40px;
  }

  .slide-wrapper:not(:last-child) {
    margin-right: 20px;
  }

  .slide__heading,
  .slide__content,
  .slide__price-button {
    padding: 0 20px;
  }

  .buy {
    margin-bottom: 60px;
  }

  /* seller */
  .sell::before {
    top: -8%;
    width: 9%;
    height: 7%;
  }

  .sell__btn {
    margin-bottom: 60px;
  }

  .sell {
    margin-bottom: 0;
  }

  /* test */
  .test::before,
  .test::after {
    width: 15%;
  }

  .test {
    margin-bottom: 60px;
  }

  /* advantages */
  .adv__list {
    width: 100%;
  }

  .adv__item {
    flex-basis: 30%;
    margin-right: 10px;
  }

  .adv__heading-card {
    font-size: 18px;
    text-align: center;
  }

  .advantages {
    margin-bottom: 60px;
  }

  /* service */
  .service__heading {
    max-width: 585px;
  }

  /* pros and cons */
  .pros__container {
    padding-top: 40px;
    width: 100%;
  }

  .pros__list {
    padding: 0 45px;
  }

  .pros__btn {
    margin-bottom: 60px;
  }

  .pros__container::before {
    left: 2%;
  }

  .pros {
    margin-bottom: 60px;
  }

  /* sertificates */
  .sert {
    margin-bottom: 60px;
  }

  .sert::before {
    bottom: -35%;
  }

  /* testimonals */
  .testimonials {
    margin-bottom: 60px;
  }

  /* callback form */
  .call__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .call__text-content {
    margin-right: 30px;
    padding-left: 0;
  }

  .call__form-content {
    padding-right: 0;
  }

  .call {
    margin-bottom: 60px;
  }

  /* quick start */
  .start__list {
    justify-content: center;
    margin-bottom: 60px;
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
  }

  .start__item {
    margin-right: 20px;
  }

  .step__btn {
  padding: 15px 10px;
  }

  /* contract */
  .contract__wrap {
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contract__wrap::before {
    left: 60%;
  }

  .contract__text-content {
    flex-basis: unset;
    width: 70%;
    padding-top: 0;
    margin-bottom: 30px;
  }

  .contract__heading {
    padding-left: 0;
  }

  .contract__content {
    padding-left: 0;
  }

  .contract__btn {
    align-self: center;
    margin-left: 0;
    margin-bottom: 0;
    padding: 15px 30px;
  }

  .contract__img {
    flex-basis: unset;
    width: 30vw;
    min-height: 30vw;
    margin-right: 0;
    margin-bottom: 30px;
  }


  /* gift */
  .gift__heading {
    margin-bottom: 40px;
    padding-left: 100px;
    align-self: flex-start;
    max-width: 600px;
  }

  .gift__wrap {
    padding-left: 50px;
  }

  .gift__text-content {
    flex-basis: 50%;
    padding-left: 0;
  }

  .gift {
    margin-bottom: 24px;
  }

  /* footer */
  .footer__nav-container {
    display: none;
  }

  .footer__text {
    font-size: 12px;
  }
}

@media  (max-width: 768px) {

  .section__heading {
    padding-left: 30px;
  }

  /* Header */
  .nav__container {
    padding: 20px;
    max-width: unset;
    width: 100%;
  }

  .nav__container::after {
    background-color: transparent;
  }

  .header__nav-list {
    display: none;
  }

  .adress-wrap {
    display: none;
  }

  .burger {
    display: flex;
  }

  /* Hero */
  .hero__container {
    margin-bottom: 0px;
    padding-top: 210px;
    padding-left: 50px;
    width: 100%;
  }

  .hero__btn {
    margin-bottom: 150px;
  }

   /* about */
   .about__container {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    margin-left: 0;
  }

  .about__container::before {
    top: -3%;
    left: 0%;
  }

  .about__container::after {
    right: 0;
    bottom: -7.2%;
  }

  .about__inner-container {
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    left: 0;
  }

  .about__text-content {
    margin-right: 0;
  }

  .about__heading {
    padding-left: 0;
  }

  .about__choice {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .choice__buy {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .choice__buy,
  .choice__sell {
    align-items: flex-start;
  }

  .choice__buy-content,
  .choice__sell-content {

    margin-bottom: 15px;
    max-width: unset;
  }

  .about__img-wrapper {
    margin-bottom: 30px;
  }

  .about {
    margin-bottom: 60px;
  }

  /* slider */
  .slider {
    margin: 0 auto;
    width: 90vw;
    margin-bottom: 40px;
  }

  .slide-wrapper:not(:last-child) {
    margin-right: 20px;
  }

  .slide__heading,
  .slide__content,
  .slide__price-button {
    padding: 0 20px;
  }

  .buy {
    margin-bottom: 60px;
  }

  /* seller */
  .sell::before {
    top: -5%
    ;
    width: 20%;
    height: 15%;
  }

  .sell__btn {
    margin-bottom: 60px;
  }

  .sell {
    margin-bottom: 0;
  }

  /* test */
  .test::before,
  .test::after {
    width: 23%;
  }

  .test {
    margin-bottom: 60px;
  }

  .test__heading {
    padding-left: 0;
    max-width: 80%;
  }

  .test__text {
    max-width: 50%;
  }

  /* advantages */
  .adv__list {
    width: 100%;
  }

  .adv__item {
    flex-basis: 45%;
    margin-right: 10px;
  }

  .adv__item:nth-child(3n) {
    margin-right: 10px;
  }

  .adv__item:nth-child(2n) {
    margin-right: 0;
  }

  .adv__item:nth-last-child(-n+3) {
    margin-bottom: 42px;
  }

  .adv__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .adv__heading-card {
    font-size: 18px;
    text-align: center;
  }

  .advantages {
    margin-bottom: 60px;
  }

  /* service */
  .service__heading {
    max-width: 80%;
  }

  /* pros and cons */
  .pros__container {
    padding-top: 40px;
    width: 100%;
  }

  .pros__heading {
    max-width: 80%;
    text-align: center;
  }

  .pros__list {
    padding: 0 30px;
  }

  .pros__item {
    max-width: unset;
    width: 100%;
  }

  .pros__btn {
    margin-bottom: 60px;
  }

  .pros__container::before {
    top: -4%;
    left: 2%;
  }

  .pros {
    margin-bottom: 60px;
  }

  /* sertificates */
  .sert {
    margin-bottom: 60px;
  }

  .sert::before {
    bottom: -35%;
  }

  /* testimonals */
  .testimonials {
    margin-bottom: 60px;
  }

  /* callback form */
  .call__wrapper {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .call__wrapper::after {
    width: 25%;
    height: 8%;
    bottom: -1%;
    left: 45%;
  }

  .call__text-content {
    margin-right: 0px;
    padding-left: 0;
  }

  .call__content:last-child {
    margin-bottom: 35px;
  }

  .call__form-content {
    margin-bottom: 70px;
    padding-top: 0;
    padding-right: 0;
  }

  .call__form-heading {
    align-self: center;
  }

  .call {
    margin-bottom: 60px;
  }

  /* quick start */
  .start__list {
    justify-content: center;
    margin-bottom: 60px;
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
  }

  .start__item {
    margin-right: 20px;
  }

  .step__btn {
    font-size: 14px;
    padding: 10px 5px;
  }

  .start__step-content {
    font-size: 14px;
    line-height: 1.3;
  }

  .start__step {
    font-size: 100px;
  }

  /* contract */
  .contract__wrap {
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contract__wrap::before {
    left: 80%;
  }

  .contract__text-content {
    flex-basis: unset;
    width: 100%;
    padding-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .contract__heading {
    padding-left: 0;
  }

  .contract__content {
    padding-left: 0;
  }

  .contract__btn {
    align-self: center;
    margin-left: 0;
    margin-bottom: 60px;
    padding: 15px 30px;
  }

  .contract__img {
    display: none;
  }


  /* gift */
  .gift__heading {
    margin-bottom: 40px;
    padding-left: 0px;
    align-self: center;
    max-width: 90%;
    text-align: center;
  }

  .gift__wrap {
    flex-direction: column-reverse;
    padding: 0;
  }

  .gift__text-content {
    flex-basis: unset;
    align-self: center;
    align-items: center;
    margin-right: 0;
    width: 90%;
    padding-left: 0;
  }

  .gift__img {
    min-height: 524px;
  }

  .gift {
    margin-bottom: 24px;
  }

  /* footer */
  .footer__nav-container {
    display: none;
  }

  .footer__text {
    font-size: 12px;
  }
}
